@model CountVM
@{
    ViewData["Title"] = "Index";
}

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shop<span>Man</span></h1>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav breadcrumb-with-filter">
        <div class="container">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="man" asp-action="index">Man</a></li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
        <div class="categories-page">
            <div class="container">
                <div class="row">
                   

                    <div class="col-md-12">
                        <div class="row">
                            @foreach (var item in Model.Categories)
                            {
                                <div class="col-sm-4">
                                    <div class="banner banner-cat banner-badge">
                                        <a asp-controller="man" asp-action="shop" asp-route-id="@item.Id">
                                            <img src="assets/images/category/@item.Image" alt="categoryImage">
                                        </a>

                                        <a asp-controller="man" asp-action="shop" asp-route-id="@item.Id" class="banner-link" >
                                            <h3 class="banner-title">@item.Name</h3>
                                            <h4 class="banner-subtitle">
                                                
                                            @*@item.Products.Where(p=>p.ProductSizeColors.Count != 0).Count() 
                                                @ViewBag.Count.wh*@
                                                @Model.Colors.Where(p=>p.Product.CategoryId == item.Id).Count()
                                            Products
                                            </h4>
                                           
                                            <span class="banner-link-text">Shop Now</span>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>

                       
                    </div>

                    
                </div>
            </div>
        </div>


    </div>
</main>
